
.logo{
    border : 1px solid black;
}
.logo h1{
    color: blue;
    font-size: 2em;
    text-align: left;
}
.logo ul{
    text-align: right;


}
.logo ul li{
    list-style: none;
    padding: 5px;
    margin: 5px;
    background-color: rgb(18, 190, 247);
    border-radius: 5px;
    display: inline-block;
}
.card{
    text-align: center;
    background-color: brown;
    border: 2px solid black;
    box-shadow: black 0px 5px 10px;
    padding: 20px;
    justify-content: center;
    margin: 20px;
    background-color: rgb(18, 190, 247);
    border-radius: 5px;
    display: inline-block;
    width: 200px;

}
.card .cardimage{
    border-radius: 50%;
    ;
}
.card .cardimage:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    border-radius: 0%;

}
.card:hover{
    background-color: saddlebrown;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}